img{
    position: absolute;
    display: block;
}
h2{
    font-size: 45px;
    margin: 0;
    text-align: center;
    position: absolute;
    color: white;
    z-index: 1;
    left: calc( 500px - 130px);
    top: 70px;
}
/* esto sera para el aguila */
img:nth-child(2){ 
    z-index: 3;
    width: 150px;

}

img:nth-child(2):hover{ 
    z-index: 3;
    width: 750px;
    top: -55px;
    left: 80px;

}

/* esto sera para para el cielo */
img:nth-child(3){
    z-index: 0;
    width: 1000px;

}

/* esto sera para el escorial */
img:nth-child(4){
    z-index: 4;
    top: calc( 563px - 272px);
}

/* esto sera para el escudo */
img:nth-child(5){
    z-index: 2;
    width: 90px;
    left: calc(1000px - 287px);
}

/* esto sera para la fachada */
img:nth-child(6){
    z-index: 5;
    top: calc( 563px - 353px);
    left: 508px;

}
img:nth-child(4), img:nth-child(6){
    width: 500px;
}