body {
  margin: 2rem;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#consola {
  background-color: #1e1e1e;
  color: #0dff00;
  font-family: "Courier New", monospace;
  /* fuente local */
  font-size: 0.9rem;
  padding: 1rem;
  border-radius: 5px;
  white-space: pre-line;
  /* letter-spacing: 2px; esto serviria para el espaceado entre letras, pero no es lo mismo que la fuente monospace */
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
}
