#ejer2 > .grid {
  margin: 30px;
  grid-template-columns: repeat(6, 1fr);
  width: 15rem;
  height: 15rem;
  /* grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr); */
  div {
    background-color: rgb(196, 218, 251);
    border: 2px solid black;
    text-align: center;
    padding:1rem 1.4rem ;
  }

  div:nth-child(14) {
    background-color: rgb(228, 188, 226);
    grid-column: 2 / span 4;
    grid-row: 2 / span 3;
  }
}
