body > div,
.grid {
  display: grid;
}
#ejer1 > .grid {
  width: 15rem;
  height: 15rem;
  margin: 30px;
  div {
    background-color: rgb(196, 218, 251);
    border: 2px solid black;
    text-align: center;
    padding: 1rem 1.4rem;
  }

  div:nth-child(1) {
    grid-row: 1 / span 4;
  }
  div:nth-child(2) {
    grid-column: 2 / span 4;
  }
  div:nth-child(3) {
    grid-row: 2 / span 2;
  }
  div:nth-child(4) {
    grid-column: 3 / span 2;
  }
  div:nth-child(5) {
    grid-row: 2 / span 4;
    grid-column: 5/5;
  }
  div:nth-child(6) {
  }
  div:nth-child(7) {
    grid-column: 4 / 4;
    grid-row: 3 / span 2;
  }
  div:nth-child(8) {
    grid-column: 2 / span 2;
  }
  div:nth-child(9) {
    grid-column: 1 / span 4;
    /* grid-row: 1 / span 4; */
  }
}
