#ejer3 > .grid {
  grid-template-columns: repeat(5, 1fr);
  margin: 30px;

  div {
    background-color: rgb(196, 218, 251);
    border: 2px solid black;
    padding: 1rem 1.4rem;
    text-align: center;
  }

  div:nth-child(7) {
    background-color: rgb(228, 188, 226);
        grid-column: 2 / span 3;
    grid-row: 2 / span 3;
  }
  div:nth-child(3),
  div:nth-child(10),
  div:nth-child(15),
  div:nth-child(9) {
    background-color: rgb(201, 155, 179);
  }
}
