        :root{
            /*
            esto no funciona porquer el calc no funciona con variables que contengan una operacion matematica no con numeros puros
BUENOOOO YA ME FUNBCIONO Y NO SE PORQUE 


            con esto sacaremos el color azul*/
            --r-color1:0;
            --g-color1:0;
            --b-color1:255;
            --color1: rgb(var(--r-color1),var(--g-color1),var(--b-color1));
            /*con esto sacaremos el color amarillo conbinando el rojo y verde*/
            --r-color2:255;
            --g-color2:255;
            --b-color2:0;
            --color2: rgb(var(--r-color2),var(--g-color2),var(--b-color2));;
            /*aca sacaremos las variables para sacar sus colores intermedios...
            
            var(--r-color1)+
var(--g-color1)+
var(--b-color1)+
            
            */
            --r-mid:calc(((var(--r-color2) + var(--r-color1))/2));
            --g-mid:calc(((var(--g-color2) + var(--g-color1))/2));
            --b-mid:calc(((var(--b-color2) + var(--b-color1))/2));
            
            --color-mid: rgb(var(--r-mid),var(--g-mid),var(--b-mid));
        }
        .tres_colores{
            border-collapse: collapse;
            border: 1px solid black;
            width: 120px;
            height: 70px;
        }

        .tres_colores td{
            width: 40px;
            height: 70px;
            border: 1px solid black;
        }

        .tres_colores tr td:nth-child(1){
            background-color: var(--color1);
        }
        
        .tres_colores tr td:nth-child(2){
            background-color: var(--color-mid);
        }   

        .tres_colores tr td:nth-child(3){
            background-color: var(--color2);
        }
