            #ejer3{

                 padding: 50px;
                 background-image:
                 linear-gradient(359deg,rgb(0, 0, 255) 1%,transparent 40%),
                 linear-gradient(45deg,rgb(0, 255, 0) 40%, transparent 55%),
                 linear-gradient(159deg,rgb(255, 0, 0) 20%,transparent 60%),
                 linear-gradient(230deg,rgb(255, 255, 0) 50%,transparent 70%)
                                ;
                
                            }
            #ejer3 section {
                width: auto;
                background-color: rgba(255, 255, 255, 0.595);
            }