            #ejer1 {
                display: flex;
                flex-direction: column;
            }

            #ejer1 section {
                width: 900px;
                height: 150px;
                border: 2px solid black;
                background-image: linear-gradient(90deg, red, rgb(255, 153, 0), yellow, rgb(17, 255, 0), rgb(0, 247, 255), blue, rgb(255, 0, 255), red);

                /* el linear gradient podemos poner en vez de Xdeg por ejemplo to right, to left, to top, to bottom, to upper right, to lower left, etc
                  */
            }