#ejer4{
                width: 300px;
                height: 300px;
                background-image: 
                radial-gradient(circle at 20% 120% ,rgb(245, 182, 73) 10% ,rgb(231, 125, 87) 35% ,rgb(226, 96, 94,0.9) 50%,rgba(0,0,0,0) 65%  ),
                radial-gradient(circle at 120% 50% ,rgb(183, 80, 171) 20% ,rgb(180, 84, 173) 35% ,rgba(144, 80, 192, 0.9) 40%,rgba(0,0,0,0) 60%),
                radial-gradient(circle at 10% -16% ,rgba(69, 110, 198) 15% ,rgba(101, 90, 195) 25% ,rgba(131, 83, 183, 0.9) 50%,rgba(0,0,0,0) );
            
            }
            #ejer4 img{
                width: 100%;
                height: 100%;
                opacity:1;
            }