#ejer2{
    width: 2000px;
    height: 300px;
    scroll-behavior: smooth;
}

#ejer2 img{
    width: 200px;
    position: relative;
}

#ejer2 img:nth-child(1){
    /* object-fit: contain; */
    /* esto no se porque no funciona pero asi esta */
    transform: translate(0%, 0%) scaleX(-0.3) scaleY(0.4) rotate(-40deg);

}
#ejer2 img:nth-child(2){
    transform: translate(30%, 100%) scaleX(-1) rotate(-90deg) ;
}
#ejer2 img:nth-child(3){
    transform: translate(00%, 100%) scale(1);
}