#ejer2{
    width: 2000px;
    height: 300px;
}

#ejer2 img{
    width: 200px;
    position: relative;
}

#ejer2 img:nth-child(1){
    transform: translate(0%, 0%) scaleX(-1) rotate(-40deg);

}
#ejer2 img:nth-child(2){
    transform: translate(30%, 120%) scaleX(-1) rotate(-90deg) ;
}
#ejer2 img:nth-child(3){
    transform: translate(00%, 120%) scale(1);
}