#ejer3 {
  position: absolute;
  background-color: bisque;
  transform: translate(10%, 150px) rotate(-10deg);
}

#ejer3 img {
  position: absolute;
  transform: translate(10%, 20%);
}

#ejer3 p {
  font-size: 20px;
  font-style:oblique;
  line-height: 42px;
  position: absolute;
  display: block;
  width: 310px;
  transform: translate(40%, 69%);
}
