.calendario * {
  display: flex;
}
.calendario {
  display: block;
  margin: 2vw;
}
.meses {
  flex-wrap: wrap;
  column-gap: 1rem;
}
.mes {
  flex-direction: column;
  padding: 1rem;
  border: 2px solid black;
  margin: 0.7rem;
}
.semana {
  flex-direction: row;
  gap: 1rem;
}
.semana:nth-child(n+3) {
  justify-content: flex-end;
}
.semana:last-child {
  justify-content: flex-start;
}
.dia {
  width: 1rem;
  height: 1rem;
  padding: 0.1rem;
}
