/* Los seis dados */
div:is(.uno, .dos1, .dos2, .tres1, .tres2, .cuatro, .cinco, .seis1, .seis2) {
  width: 180px;
  height: 180px;
  border: 2px solid black;
  background: #eee;
  margin: 6px;
  display: flex;
  border-radius: 30px;
  padding: 30px;
}
/* Puntos del dado */
div:is(.uno, .dos1, .dos2, .tres1, .tres2, .cuatro, .cinco, .seis1, .seis2)
  > div {
  background: black;
  color: white;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  border-radius: 50%;
}

/*ejercicios*/

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* primer dado */
div.uno {
  justify-content: center;
  align-items: center;
}

/* dos numeros */
div.dos1,
div.dos2 {
  justify-content: space-between;
}
div.dos2 {
  flex-direction: column-reverse;
}

div.dos1 > div:nth-child(1),
div.dos2 > div:nth-child(1) {
  align-self: flex-start;
}

div.dos1 > div:nth-child(2),
div.dos2 > div:nth-child(2) {
  align-self: flex-end;
}
/* tes numeros */
div.tres1,
div.tres2 {
  justify-content: space-between;
}

div.tres2 {
  flex-direction: column-reverse;
}
div.tres1 > div:nth-child(1),
div.tres2 > div:nth-child(1) {
  align-self: flex-start;
}

div.tres1 > div:nth-child(2),
div.tres2 > div:nth-child(2) {
  align-self: center;
}
div.tres1 > div:nth-child(3),
div.tres2 > div:nth-child(3) {
  align-self: flex-end;
}

/* cuatro numeros */

div.cuatro {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32%; /* puede llegar hasta un 68%*/
}

div.cuatro > div:nth-child(1),
div.cuatro > div:nth-child(2) {
  /* align-self: flex-start; */
}

div.cuatro > div:nth-child(3),
div.cuatro > div:nth-child(4) {
  align-self: flex-end;
}

/* cinco numeros */

div.cinco {
  /* order: -1; */
  justify-content: space-between;
  flex-direction: row;
  /*   flex-wrap: wrap;
  column-gap: 20%; 
  row-gap: 20%;  */
  /* puede llegar hasta un 68%  */
}

div.cinco > div:nth-child(1),
div.cinco > div:nth-child(2) {
  align-self: flex-start;
}

div.cinco > div:nth-child(4),
div.cinco > div:nth-child(5) {
  align-self: flex-end;
}

div.cinco > div:nth-child(1) {
  order: 1;
}
div.cinco > div:nth-child(2) {
  order: 3;
  position: relative;
  left: 2.4rem;
}

div.cinco > div:nth-child(3) {
  order: 2;
  align-self: center;
  /* justify-self: end; */
}

div.cinco > div:nth-child(4) {
  order: 1;
  position: relative;
  right: 2.4rem;
}
div.cinco > div:nth-child(5) {
  order: 5;
}

/* seis caras */

div.seis1,
div.seis2 {
  /* order: -1; */
  justify-content: space-around;
}

div.seis1 {
  flex-flow: column wrap;
  gap: 26.4%;
}
div.seis2 {
  gap: 26.4%;
  flex-flow: row wrap;
}

script {
  display: none !important;
}
