@import url("https://fonts.cdnfonts.com/css/pusab");

body {
  background-color: rgb(88, 88, 88);
}
h2 {
  font-family: "pusab";
  position: absolute;
  display: grid;
  justify-self: center;
  animation: text_completed 5s infinite alternate, subir 5s infinite alternate;
  text-shadow: 15px -2px 0px rgb(0, 0, 0);
}

@keyframes text_completed {
  0% {
    font-size: 0rem;
    text-shadow: (1px 1px 1px white);
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
  }
  20% {
    visibility: block;
    color: rgb(26, 168, 5);
    font-size:4rem ;
}
80% {
    color: rgb(95, 5, 168);
    font-size: 5rem;
}
100% {
      font-size: 8rem;
    color: rgb(15, 147, 199);
    text-shadow: (1px 1px 1px black);
    filter: drop-shadow(0 0 20px white);
  }
}

@keyframes subir {
  0% {
    top: 50%;
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(20deg);
  }
  80% {
  }
  100% {
    top: 20%;
    transform: rotate(360deg);
  }
}
