
#ejer2 img{
border-radius: 50%;
height: 600px;
/* position: relative; */
display: grid;
justify-self: center;
animation: cosaRara 1s steps(12) infinite;
/* cubic-bezier(0,1,1,0) cubic-bezier(0,1,1,1)*/
}

@keyframes cosaRara {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);

    }
}