body {
  margin: 0;
  height: 100vh;
  color: black;
  padding: 3rem;
}

.grid2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(12rem, 24rem) 2fr minmax(12rem, 24rem);
  grid-template-areas:
    "header header header"
    "nav    main   aside"
    "footer footer footer";
}

header {
  grid-area: header;
  background: #ff838d;
}
nav {
  grid-area: nav;
  background: #79e6ff;
}
main {
  grid-area: main;
  background: #6deeb4;
}
aside {
  grid-area: aside;
  background: #f9dd80;
}
footer {
  grid-area: footer;
  background: #7ea9ff;
}

header,
nav,
main,
aside,
footer {
  padding: 1rem;
  text-align: center;
}

/* SMALL (≥576px) Bootstrap sm */
@media (max-width: 576px) {
  .grid2 {
    grid-template-columns: minmax(12rem, 24rem);
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "footer";
  }
}

/* MEDIUM (≥768px) Bootstrap md */
@media (max-width: 768px) {
  .grid2 {
    grid-template-columns: minmax(12rem, 24rem) minmax(12rem, 24rem);
    grid-template-areas:
      "header header"
      "main aside"
      "nav nav"
      "footer footer";
  }
}
