#ejer2 {
  counter-reset: seccion;
  width: 70%;
  font-size: 10px;
}
#ejer2 section {
  border: 2px solid black !important;
  background-color: rgb(228, 228, 220);

  counter-increment: seccion;
  counter-reset: titulo;

  padding-left: 5px;
  margin-bottom: 30px;
}
#ejer2 h1 {
  counter-reset: subtitulo;
  counter-increment: titulo;
}
#ejer2 h2 {
  counter-increment: subtitulo;
  padding-left: 50px;

}

#ejer2 section::before {
  content: "SECCION " counter(seccion,upper-alpha);
  color: rgb(177, 11, 11);
  font-size: 15px;
  font-weight: bold;
}
#ejer2 h1::before {
  text-shadow: 0 0 6px rgb(109, 109, 255);
  color: rgb(11, 11, 177);
  content: "Capitulo " counter(titulo,upper-roman) ": ";
}
#ejer2 h2::before {
  text-shadow: 0 0 6px rgb(138, 255, 112);

  color: rgb(15, 158, 13);
  content: counter(titulo) "." counter(subtitulo,	lower-alpha) " - ";
}
