#ejer1{
    font-size: 1.5rem;

}
#ejer1>p>b {
/* font-weight: 100; */
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 2s;
}
#ejer1>p>b:hover {
/* font-weight: 100; */
    transform: rotate(180deg);
    transition: transform 2s;
    color: saddlebrown;
}

