
#ejer1{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}
#gmail{
    width: 100px;
    height: 100px;
    background-image: url("https://ssl.gstatic.com/gb/images/sprites/p_2x_6ab3ae91cfe4.png");
    background-size: 100px;
    background-repeat: repeat-y;
    background-position: center -1000px;
}
#google{
    width: 100px;
    height: 100px;
    background-image: url("https://ssl.gstatic.com/gb/images/sprites/p_2x_6ab3ae91cfe4.png");
    background-size: 100px;
    background-repeat: repeat-y;
    background-position: center -1545px;
}



